.pac1{
    background-image: url(../img/53ada4ef7eae03d38157042cd5c24f66.jpg);
    width: 25%;
    text-align: center;
    background-position: center;
    height: 25V;
    color: aliceblue;
    background-size: cover cover;
    margin:100px  600px;
    padding: 35px;
    
}

