.Home{
    background-image: url(../img/0df07d88b06f016bbbdc191ac8237f9d.jpg);
background-size: cover cover;
background-position: center;
height: 100vh;
width: 100%;
}
.Home1{
    background-color: rgba(0, 0, 0, 0.61);
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100vh;
}
.Home2  h2::after{
    content: ">";
    animation-name: healthy ;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes healthy{
  0%  {content: ">";}
   8% {content: "H>";}
    16%{content: "He>";}
    24%{content: "Hea>";}
   32%{content: " Heal>";}
    40%{content: "Healt>";}
    48%{content: "Health>";}
    56%{content: "Healthy>";}
    64%{content: "Health>";}
    72%{content: "Healt>";}
    80%{content: "Heal>";}
    88%{content: "Hea>";}
    92%{content: "He>";}
    96%{content: "H>";}
    100%{content: ">";}
}